
@{
Layout = null;
BTController.Models.Student student = (BTController.Models.Student)ViewBag.Student;
}

<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Find</title>
</head>
<body>
    <div>
        @if (ViewBag.Check == 1)
        {
            <p>
                @student.Id
                @student.Name
                @student.Class
            </p>
        }
        else
        {
            <p>Khong thay</p>
        }

    </div>
</body>
</html>
