@{
    ViewBag.Title = "Phương Trình Bậc 1";
}

<h2>Chọn phương thức tính phương trình bậc 1</h2>

<a href="/PTBac1/UserRequest" class="btn btn-primary">Tính bằng Request</a>
<a href="/PTB1AC/PTB1AC" class="btn btn-primary">Tính bằng Đối số</a>
<a href="/ModCal/ModCal" class="btn btn-primary">Tính bằng Model</a>
<a href="/FormColl/FormColl" class="btn btn-primary">Tính bằng Form Collection</a>
