@{ 
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CalculateLinearEquation</title>
</head>
<body>
    <form name="f1" action="/Calculation/PTB1AC" method="post">
        <div class="container">
            <div class="form">
                <h2>TÍNH NGHIỆM PHƯƠNG TRÌNH BẬC NHẤT</h2>
                Nhập hệ số a: <input type="text" name="a" /> <br />
                Nhập hệ số b: <input type="text" name="b" /> <br />
                <input type="submit" value="Tính toán" /><br />
                Kết quả: <input type="text" name="kq" value=@ViewBag.KQ />
            </div>
        </div>
    </form>
</body>
</html>
