
@{
    Layout = null;
    var kq = ""; 
    if (IsPost)
    {
        double a, b;
        a = double.Parse(Request["a"]);//Chuyển đổi chuỗi sang số thực
        b = double.Parse(Request["b"]);
        if (a == 0)
        {
            if (b == 0)
            {
                kq = "Vô số nghiệm";
            }
            else
            {
                kq = "Vô nghiệm";
            }
        }
        else
        {
            kq = (-b / a).ToString();
        }
    } 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>giaipt</title>
</head>
<body>
    <form name="f1" action="/PTBac1/UserRequest" method="post">
        <div class="container">
            <div class="form">
                <h2>THỰC HIỆN GIẢI PT BẬC 1</h2>
                Nhập a: <input type="text" name="a" /> <br />
                Nhập b: <input type="text" name="b" /> <br />
                <input type="submit" value="Giải" /><br />
                Kết quả: <input type="text" name="kq" value="@kq" />
            </div>
        </div>
    </form>
</body>
</html>
