@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>giaipt1</title>
</head>
<body>
    <div>
        @helper PTB1(string kq = "")
        {
            if (IsPost)
            {
                double a, b;
                a = double.Parse(Request["a"]);//Chuyển đổi chuỗi sang số thực
                b = double.Parse(Request["b"]);
                if (a == 0)
                {
                    if (b == 0)
                    {
                        kq = "Vô số nghiệm";
                    }
                    else
                    {
                        kq = "Vô nghiệm";
                    }
                }
                else
                {
                    kq = (-b / a).ToString();
                }
            }
            @kq;
        }
    </div>
    @{Html.BeginForm("giaipt1", "Home");
        <div class="container">
            <div class="form">
                <h2>THỰC HIỆN GIẢI PT BẬC 1</h2>
                Nhập a: @Html.TextBox("a") <br />
                Nhập b: @Html.TextBox("b") <br />
                <input type="submit" value="Giải" /><br />
                Kết quả: <input type="text" name="kq" value="@PTB1()" />
            </div>
        </div>
    Html.EndForm();}
</body>
</html>
